---
import { env } from "cloudflare:workers";
import { FileItem } from "../components/FileItem";
import Layout from "../layouts/Layout.astro";
import type { FileData } from "../types/file-data";

const { results } = await env.library_data
	.prepare("SELECT * FROM files")
	.run<FileData>();
---

<Layout>
	<div
		class="flex flex-col divide-y divide-neutral-200 dark:divide-neutral-700"
	>
		{
			results.map((file) => {
				return (
					<div>
						<FileItem client:load data={file} />
					</div>
				);
			})
		}
	</div>
</Layout>
