---
import "@fontsource-variable/inter/wght.css";
import "../styles/global.css";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Library — Ian Hornik</title>
	</head>
	<body>
		<div
			class="mx-auto grid max-w-7xl grid-cols-1 px-3 lg:grid-cols-[1fr_1.5fr] lg:gap-5"
		>
			<div
				class="lg:h-screen flex flex-col justify-between pt-12 lg:sticky lg:top-0 lg:w-105 lg:pt-24 lg:pb-4"
			>
				<header class="select-none">
					<h1
						class="inline-flex flex-wrap items-end mb-8 text-6xl font-bold"
					>
						<a href="/">library</a>
						<a
							href="https://hornik.dev"
							class="lg:-ml-2 text-3xl text-silent">.hornik.dev</a
						>
					</h1>
					<p>
						An archive of my theses, seminar papers, seminar notes,
						and articles.
					</p>
				</header>
				<footer class="mt-6 lg:mt-auto">
					<div
						class="flex flex-row items-center justify-between text-muted"
					>
						<p class="text-sm">
							Copyright &copy; {new Date().getFullYear()} Ian Hornik
						</p>
						<ThemeIcon />
					</div>
				</footer>
			</div>
			<main class="flex grow flex-col pb-24 pt-12 lg:pb-40 lg:pt-24">
				<slot />
			</main>
		</div>
	</body>
</html>
