---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div
			class="mx-auto grid max-w-7xl grid-cols-1 px-3 lg:grid-cols-[1fr_1.5fr] lg:gap-5"
		>
			<div
				class="flex h-screen flex-col justify-between pt-12 lg:sticky lg:top-0 lg:w-105 lg:pt-24"
			>
				<header class="select-none">
					<h1 class="mb-8 text-6xl font-bold">
						<a href="/">library</a>
					</h1>
				</header>
			</div>
			<main
				class="flex grow flex-col pb-24 lg:pb-40 *:pt-16 *:pb-8 [&>*:first-child]:pt-24"
			>
				<slot />
			</main>
		</div>
	</body>
</html>
